#!/bin/bash

TO=you@youremailaddress.com
export BITBUCKET_USERNAME="your username"
export BITBUCKET_PASSWORD="your password"

########

THIS_SCRIPT=$(readlink -f $0)
THIS_DIR=$(dirname ${THIS_SCRIPT})

TMPFILE=$(mktemp --suffix .html)
RUNLOG=$(mktemp --suffix .log)

${THIS_DIR}/get_bitbucket_issues.py > ${TMPFILE} 2> ${RUNLOG} /dev/null
RETCODE=$?
if [ ${RETCODE} != 0 ]; then
    cat ${RUNLOG}
    exit 1
else
    SUBJECT="BitBucket Issues $(date +%F)"
    cat ${TMPFILE} | mail -a "Content-type: text/html" -s "${SUBJECT}" ${TO}
fi

rm ${TMPFILE} ${RUNLOG}
